/*기초작업*/
*
{
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; /*보더+패딩+콘텐츠*/
}
a
{
    text-decoration: none; /*링크 밑줄 제거*/
    color: white;
}
ul
{
    list-style: none; /*동그라미 표시 삭제*/
}

h2, h3, h4, p{
    font-family: 'Noto Sans KR', sans-serif;
}

/* about 상단 시작 */

.product_top > .top{
    position: relative;
    width: 100%;
}

.product_top > .top > div:nth-of-type(2){
    position: absolute;
    width: 100%;
    z-index: 1;
    top: 25%;
    text-align: center;
    margin: 0 auto;
    color: white;
}

.product_top > .top > div:nth-of-type(2) > h2{
    font-size: 50px;
}

.product_top > .top > div:nth-of-type(2) > p{
    font-size: 20px;
}

.product_top > .top > div:nth-of-type(3){
    position: absolute;
    width: 50%;
    height: 60px;
    left: 25%;
    bottom: 1.3%;
    display: flex;
    z-index: 1;
    background-color: #002266;
}

.product_top > .top > div:nth-of-type(3) > .product_menu{
    display: flex;
}

.product_top > .top > div:nth-of-type(3) > .product_menu > .v-line{
    position: absolute;
    border-left: 1px solid white;
    height : 20px;
    left: 100px;
    top: 20px;
}

.product_top > .top > div:nth-of-type(3) > .product_menu > a{
    color: white;
    margin: auto 40px;
}

.product_top > .top > div:nth-of-type(3) > .product_menu > .product_ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.product_top > .top > div:nth-of-type(3) > .product_menu > .product_ul > .product_li{
    cursor: pointer;
    font-family: 'IBM Plex Sans KR', sans-serif;
    color: white;
    font-size: 14px;
    position: relative;
    border-bottom: transparent 2px solid;
}

.product_top > .top > div:nth-of-type(3) > .product_menu > .product_ul > .product_li:nth-of-type(1){
    padding: 0 180px 0 50px;
}

.product_top > .top > div:nth-of-type(3) > .product_menu > .product_ul > .product_li > .triangle1{
    display: inline-block;
    position: absolute;
    border: 7px solid transparent;
    border-top-color: white;
    left: 120px;
    top: 7px;
  }

  .product_top > .top > div:nth-of-type(3) > .product_menu > .product_ul > .product_li > .triangle2{
    display: inline-block;
    position: absolute;
    border: 7px solid transparent;
    border-top-color: white;
    left: 0px;
    top: 7px;
  }

  .product_top > .top > div:nth-of-type(3) > .product_menu > .product_ul > .product_li > .triangle3{
    display: inline-block;
    position: absolute;
    border: 7px solid transparent;
    border-top-color: white;
    left: 46px;
    top: 7px;
  }

  .product_top > .top > div:nth-of-type(3) > .product_menu > .product_ul > .product_li > .v-line{
    position: absolute;
    border-left: 1px solid white;
    height : 20px;
    left: 230px;
    top: 0px;
  }

  .product_top > .top > div:nth-of-type(3) > .product_menu > .product_ul > .product_li:hover{
    text-decoration: underline;
    text-decoration-line: under;
    transform: all;
}

.product_top > .top > div:nth-of-type(3) > .product_menu > .product_ul > .product_li:hover .product_sub{
    opacity: 0.9;
    top: 25px;
    background-color: #002266;
}

.product_top > .top > div:nth-of-type(3) > .product_menu > .product_ul > .product_li > .product_sub{
    color: white;
    width: 230px;
    position: absolute;
    padding: 16px 0 0 0;
    opacity: 0;
    transition: all 0.2s;
    margin-left: -49px;
}

.product_top > .top > div:nth-of-type(3) > .product_menu > .product_ul > .product_li > .product_sub > a > li{
    padding: 6px 10px 6px 50px;
    color: white;
}

.product_top > .top > div:nth-of-type(3) > .product_menu > .product_ul > .product_li > .product_sub > a > li:hover{
    background: white;
    color: #002266;
    box-shadow: 1px 1px 10px gray;
    font-weight: 700;
}

.botulinum > div{
    position: relative;
}

.botulinum_text{
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding-top: 70px;
    color: #353535;
}

.botulinum_text > h2{
    font-size: 38px;
  }

  .botulinum_text > h2:after {
    content: '';
    width: 50px;
    height: 1px;
    background: #000;
    display: block;
    margin: 30px auto 35px;
}

.botulinum_text > h3{
    font-size: 25px;
    font-weight: 200;
    padding-bottom: 20px;
}

.botulinum_text > h3 > span{
    color: #002266;
}

.botulinum_tab{
    position: relative;
	width: 100%;
	margin: 50px auto;
    text-align: center;
    position: absolute;
    border-top: #D5D5D5 solid 1px;
}

.botulinum_tab > .tabs{
	margin: 0px;
	padding: 0px;
	list-style: none;
    border-bottom: #D5D5D5 solid 1px;
}
.botulinum_tab > .tabs > li{
    width: 250px;
	background: none;
	color: #222;
	display: inline-block;
	padding: 15px 35px;
	cursor: pointer;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 500;
}

ul.tabs li.current{
	color: #002266;
    border-bottom: 4px solid #002266;
}

.botulinum_tab > .tabs > li:hover{
    color: #002266;
    font-weight: 700;
}

.tab-content{
	display: none;
	padding: 15px;
}

.tab-content.current{
	display: inherit;
}

/* 테이블 스타일 */
.tg  {border-collapse:collapse;border-spacing:0;}

.tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  overflow:hidden;padding:10px 5px;word-break:normal;}

.tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}

.tg .tg-c0q7{border-color:#efefef;color:#343434;font-family:Verdana, Geneva, sans-serif !important;font-size:14px;text-align:left;
  vertical-align:top}
  
.tg .tg-p202{background-color:#efefef;border-color:#efefef;color:#343434;font-family:Verdana, Geneva, sans-serif !important;
  font-size:14px;font-weight:bold;text-align:center;vertical-align:top}

.tab-content.current > div:nth-of-type(1) > img{
    padding: 50px 0;
}

.tab-content.current > div:nth-of-type(2){
    position: relative;
    width: 60%;
    margin: 0 auto;
    left: 7%;
}

.tab-content.current > div:nth-of-type(2) > h3{
    text-align: left;
    padding-bottom: 15px;
    font-size: 25px;

}

/* seller 시작 */
.warning{
    position: relative;
    width: 100%;
    text-align: center;
}

.warning > div > i{
    font-size: 150px;
    margin: 140px 0 50px 0;
}

.warning > div > p{
    font-size: 30px;
    margin-bottom: 10px;
}